
# Pandas DataFrame exercises

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.1.5


## DataFrame creation

### Create an empty pandas DataFrame

In [ ]:
# your code goes here

In [ ]:
pd.DataFrame(data=[None],
             index=[None],
             columns=[None])

<img width="800" height="200" src="https://media1.tenor.com/images/47c1a3d90e55aa8f9f474ec1f68ea09c/tenor.gif?itemid=16810290" ></img>



### Create a `marvel_df` pandas DataFrame with the given marvel data

In [3]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [4]:
df=pd.DataFrame(marvel_data)

df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968



### Add column names to the `marvel_df`

In [5]:
# your code goes here
df.columns=["Name","Gender","yearOfRelease"]
df

                Name  Gender  yearOfRelease
0         Spider-Man    male           1962
1    Captain America    male           1941
2          Wolverine    male           1974
3           Iron Man    male           1963
4               Thor    male           1963
5              Thing    male           1961
6   Mister Fantastic    male           1961
7               Hulk    male           1962
8              Beast    male           1963
9    Invisible Woman  female           1961
10             Storm  female           1975
11             Namor    male           1939
12           Hawkeye    male           1964
13         Daredevil    male           1964
14    Doctor Strange    male           1963
15          Hank Pym    male           1962
16     Scarlet Witch  female           1964
17              Wasp  female           1963
18       Black Widow  female           1964
19            Vision    male           1968


### Add index names to the `marvel_df` (use the character name as index)

In [6]:
# your code goes here
df=df.set_index("Name")


### Drop the name column as it's now the index

In [7]:
# your code goes here
df.drop("yearOfRelease",axis=1)

df

                  Gender  yearOfRelease
Name
Spider-Man          male           1962
Captain America     male           1941
Wolverine           male           1974
Iron Man            male           1963
Thor                male           1963
Thing               male           1961
Mister Fantastic    male           1961
Hulk                male           1962
Beast               male           1963
Invisible Woman   female           1961
Storm             female           1975
Namor               male           1939
Hawkeye             male           1964
Daredevil           male           1964
Doctor Strange      male           1963
Hank Pym            male           1962
Scarlet Witch     female           1964
Wasp              female           1963
Black Widow       female           1964
Vision              male           1968





### Drop 'Namor' and 'Hank Pym' rows

In [8]:
# your code goes here

df.drop(["Namor","Hank Pym"],inplace=True)


## DataFrame selection, slicing and indexation

### Show the first 5 elements on `marvel_df`

In [9]:
# your code goes here
df.head() #df.iloc[:5]

                Gender  yearOfRelease
Name
Spider-Man        male           1962
Captain America   male           1941
Wolverine         male           1974
Iron Man          male           1963
Thor              male           1963


### Show the last 5 elements on `marvel_df`

In [10]:
# your code goes here
df.tail()

                Gender  yearOfRelease
Name
Doctor Strange    male           1963
Scarlet Witch   female           1964
Wasp            female           1963
Black Widow     female           1964
Vision            male           1968


### Show just the sex of the first 5 elements on `marvel_df`

In [11]:
# your code goes here
#df["Gender"] or df.Gender
df.head().Gender

Name
Spider-Man         male
Captain America    male
Wolverine          male
Iron Man           male
Thor               male
Name: Gender, dtype: object



### Show the first_appearance of all middle elements on `marvel_df`

In [12]:
# your code goes here
#loc is for the indexe that are in df (columns too)
df.iloc[1:-1].yearOfRelease

Name
Captain America     1941
Wolverine           1974
Iron Man            1963
Thor                1963
Thing               1961
Mister Fantastic    1961
Hulk                1962
Beast               1963
Invisible Woman     1961
Storm               1975
Hawkeye             1964
Daredevil           1964
Doctor Strange      1963
Scarlet Witch       1964
Wasp                1963
Black Widow         1964
Name: yearOfRelease, dtype: int64


### Show the first and last elements on `marvel_df`

In [16]:
# your code goes here
df[1:-1]

                  Gender  yearOfRelease
Name
Captain America     male           1941
Wolverine           male           1974
Iron Man            male           1963
Thor                male           1963
Thing               male           1961
Mister Fantastic    male           1961
Hulk                male           1962
Beast               male           1963
Invisible Woman   female           1961
Storm             female           1975
Hawkeye             male           1964
Daredevil           male           1964
Doctor Strange      male           1963
Scarlet Witch     female           1964
Wasp              female           1963
Black Widow       female           1964



## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
# your code goes here

df.loc["Vision","yearOfRelease"]=1964



df

                  Gender  yearOfRelease
Name
Spider-Man          male           1962
Captain America     male           1941
Wolverine           male           1974
Iron Man            male           1963
Thor                male           1963
Thing               male           1961
Mister Fantastic    male           1961
Hulk                male           1962
Beast               male           1963
Invisible Woman   female           1961
Storm             female           1975
Hawkeye             male           1964
Daredevil           male           1964
Doctor Strange      male           1963
Scarlet Witch     female           1964
Wasp              female           1963
Black Widow       female           1964
Vision              male           1964



### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
# your code goes here
df["first_appearance"]= 2021-df["yearOfRelease"]
df

                  Gender  yearOfRelease  first_appearance
Name
Spider-Man          male           1962                59
Captain America     male           1941                80
Wolverine           male           1974                47
Iron Man            male           1963                58
Thor                male           1963                58
Thing               male           1961                60
Mister Fantastic    male           1961                60
Hulk                male           1962                59
Beast               male           1963                58
Invisible Woman   female           1961                60
Storm             female           1975                46
Hawkeye             male           1964                57
Daredevil           male           1964                57
Doctor Strange      male           1963                58
Scarlet Witch     female           1964                57
Wasp              female           1963                58
Black Widow       female           1964                57
Vision              male           1964                57


## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
# your code goes here
df[df.Gender=="female"]

                 Gender  yearOfRelease  first_appearance
Name
Invisible Woman  female           1961                60
Storm            female           1975                46
Scarlet Witch    female           1964                57
Wasp             female           1963                58
Black Widow      female           1964                57


### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
# your code goes here


### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
# your code goes here
df[df.yearOfRelease>1970]

           Gender  yearOfRelease  first_appearance
Name
Wolverine    male           1974                47
Storm      female           1975                46



### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
# your code goes here
df[(df.Gender=="female") & (df.yearOfRelease>1970) ]

       Gender  yearOfRelease  first_appearance
Name
Storm  female           1975                46


## DataFrame summary statistics

### Show basic statistics of `marvel_df`

In [ ]:
# your code goes here
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Spider-Man to Vision
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            18 non-null     object
 1   yearOfRelease     18 non-null     int64
 2   first_appearance  18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB


### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
# your code goes here
df.describe()

       yearOfRelease  first_appearance
count      18.000000         18.000000
mean     1962.888889         58.111111
std         6.720372          6.720372
min      1941.000000         46.000000
25%      1962.000000         57.000000
50%      1963.000000         58.000000
75%      1964.000000         59.000000
max      1975.000000         80.000000

In [ ]:
df.describe(exclude=np.number)

       Gender
count      18
unique      2
top      male
freq       13



### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
# your code goes here
df.yearOfRelease.min()

1941



### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
# your code goes here
df[df.yearOfRelease==df.yearOfRelease.min()]

                Gender  yearOfRelease  first_appearance
Name
Captain America   male           1941                80



## DataFrame basic plottings

### Reset index names of `marvel_df`

In [ ]:
# your code goes here
df.reset_index(inplace=True)

In [ ]:
df.sort_values(by=["Name"])

                Name  Gender  yearOfRelease  first_appearance
8              Beast    male           1963                58
16       Black Widow  female           1964                57
1    Captain America    male           1941                80
12         Daredevil    male           1964                57
13    Doctor Strange    male           1963                58
11           Hawkeye    male           1964                57
7               Hulk    male           1962                59
9    Invisible Woman  female           1961                60
3           Iron Man    male           1963                58
6   Mister Fantastic    male           1961                60
14     Scarlet Witch  female           1964                57
0         Spider-Man    male           1962                59
10             Storm  female           1975                46
5              Thing    male           1961                60
4               Thor    male           1963                58
17            Vision    male           1964                57
15              Wasp  female           1963                58
2          Wolverine    male           1974                47


### Plot the values of `first_appearance`

In [ ]:
# your code goes here
df.Gender.value_counts()

male      13
female     5
Name: Gender, dtype: int64

In [18]:
from scipy.stats import mode
df.groupby("Gender")["yearOfRelease"].mean()
#df.groupby("Gender").agg({"yearOfRelease":"mean","first_appearance":"median"})

Gender
female    1965.400000
male      1962.230769
Name: yearOfRelease, dtype: float64


### Plot a histogram (plot.hist) with values of `first_appearance`

In [ ]:
# your code goes here